<ng-container *ngIf="{posts: posts$ | async, photos: photos$ | async} as results">
    <ng-container *ngIf="(results.posts !='' || results.photos !=''); else nodata">
        <section class="posts">
            <mat-card class="example-card" *ngFor="let post of posts$ | async">
                <mat-card-header>
                    <mat-card-title class="title">{{post.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{post.body}}
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
        <section class="photos">
            <mat-card class="example-card" *ngFor="let photo of photos$ | async">
                <mat-card-header>
                    <mat-card-title class="title">{{photo.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{photo.thumbnailUrl}}" alt="photo.title">
            </mat-card>
        </section>
    </ng-container>
    <ng-template #nodata>
        <div class="no-data">
            No Removed Items found
        </div>
    </ng-template>
</ng-container>