.posts {
    margin-bottom: 5px;
    padding: 20px;
    .mat-card {
        margin-bottom: 15px;
        position: relative;    
        &::ng-deep .mat-card-header-text {
            margin: 0;
        }
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 768px) {    
        .mat-card { 
            .mat-stroked-button {
                position: absolute;
                top: 45px;
                right: 20px;
            }
        }
    }
}

.photos {
    margin-bottom: 5px;
    padding: 20px;
    .mat-card {
        margin-bottom: 15px;
        &::ng-deep .mat-card-header-text {
            margin: 0;
        }
        .mat-card-image {
            max-width: 150px;
            margin-left: 0px;
        }
    }
}

.no-data {
    padding: 10px;
    background-color: var(--text-colour-light-grey);
}