<section class="photos">
    <mat-card class="example-card" *ngFor="let photo of photos$ | async as photos">
        <mat-card-header>
            <mat-card-title class="title">{{photo.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{photo.thumbnailUrl}}" alt="photo.title">
        <mat-card-content>
            <div class="buttons">
                <a mat-stroked-button href="{{photo.url}}" target="_blank">View</a>
                <button mat-stroked-button color="warn" (click)="removePhotos(photo, photos)">Remove</button>
            </div>
        </mat-card-content>
    </mat-card>
    <div *ngIf='errorMsg'>
        <h5>An Error Occured</h5>
        <p>{{errorMsg}}</p>
    </div>
</section>