/*
* List down all repeative colour, fonts and any generic repeative code in this file
*/
:root {

    --text-primary-color: #673ab7;
    --text-color-secondary: #6c757d;
    --text-color-white: #fff;
    --text-colour-light-grey: #f5f3f3;

    --primary: #673ab7;
    --secondary: #79dcf2;
    --success: #2fdf75;
    --warning: #fdd835;
    --danger: #e53935;
    --dark: #222428;
    --medium: #92949c;
    --light: #f4f5f8;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --light-green: #b7e0b8;
    --light-grey: #607d8b;
    --surface-b: #f8f9fa;
    --surface-c: #e9ecef;
    --surface-d: #dee2e6;
    --surface-a: var(--white);
    --surface-e: var(--white);
    --surface-f: var(--white);

   
    --primary-color-text: var(--white);
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
      Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    --header-height: 3rem;
    --nav-width: 68px;
    --normal-font-size: 1rem;
    --z-fixed: 100;
  }
  