section {
    div {
       p {
        color: var(--text-primary-color);
        font-size: 30px; 
        text-shadow: 2px 3px 5px grey; 
        margin: 30px 0; 
       }
    } 
    div + p{ 
        color: var(--text-primary-color);
        font-weight: bold; 
        font-size: 20px; 
        padding-bottom: 20px; 
    }
    &::ng-deep mat-tab-group {
        text-align: center;
        mat-tab-body {
            text-align: left;
        }
    }
     
    mat-tab-group p {
        padding-top: 20px;
    }
}